.editor {
    border-collapse: collapse;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none; }

    .editor td {
        height: 20px;
        width: 20px;
        background-color: #BBB; }

        .editor td.filled {
            background-color: black; }

    .editor,
    .editor tr,
    .editor td {
        border: 1px solid black;
    }

.editor, .btn, select {
    cursor: pointer; }
